/* Reset default margin & padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Apply a simple font */
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
  margin: 0;
  padding-top: 70px;
}
