.notableClients {
  text-align: center;
  padding: 50px 20px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 50px;
}

.clientGrid {
  display: flex;
  justify-content: space-between;
  gap: 220px;
  flex-wrap: nowrap;
}

.clientLogoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Default image styling */
.clientLogo {
  height: auto;
  max-width: 100%;
}

/* Custom sizes for each logo */
.sagaWood {
  width: 300px; /* Larger width */
  height: 120px;
}

.jcd {
  width: 250px;
  height: 110px;
}

.chain2bollywood {
  width: 220px;
}
