.section {
  padding: 5rem 0;
  background-color: white;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1280px; /* or 1140px/1024px depending on your design system */

}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.imageWrapper {
  flex: 1;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  object-position: top;
}

.textWrapper {
  flex: 1;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
  }
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1.5rem;
}

.text {
  font-size: 1.125rem;
  color: #4b5563;
  line-height: 1.75;
  margin-bottom: 2rem;
}

.highlight {
  font-weight: 500;
  color: #3b82f6;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
